@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-top-links navbar-right">
        <li><a href="@Url.Action("Index", "UporabniskiPodatki")"><i class="fa fa-user fa-fw"></i></a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-top-links navbar-right">
        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-out fa-fw"></i></a></li>
    </ul>
}