@{
    Layout = null;
}

<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading red">
            Opombe
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            Predmeti so običjano vrednoteni s 6 kreditnimi točkami.<br />
            Trenutno povprečno število kreditnih točk na posamezni predmet je @Html.Encode(ViewData["avgKrediti"]).
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-4 -->

